<div class="container ">
    <form #form="ngForm">
        <div class="form-group">
            <div class="row" *ngFor="let question of questions; let i = index">
                <div [ngSwitch]="question.componentType" class="col-sm-12" [ngClass]="{ 'has-error': form.submitted  }">
                    <label>{{i+1}}.{{question.componentType == 'locate'?'Departamento':question.statement}}</label>{{question.required==true?'*':''}}
                    <div *ngSwitchCase="'input'">
                        <input name="{{question.id}}" class="form-control" type="{{question.dataType}}"
                            [(ngModel)]="question.answer" #answer="ngModel" [required]="question.required" />
                        <div *ngIf="answer.invalid && (answer.dirty || answer.touched || form.submitted)"
                            class="alert alert-danger">
                            Este campo es obligatorio
                        </div>
                    </div>
                    <div *ngSwitchCase="'list'">
                        <select class="form-control" name="{{question.id}}" [(ngModel)]="question.answer"
                            #answer="ngModel" [required]="question.required">
                            <option empty-option="" value="undefined" class="" selected>Seleccionar</option>
                            <option *ngFor="let option of question.options" value="{{option.id}}">
                                {{option.val}}</option>
                        </select>
                        <div *ngIf="answer.invalid && (answer.dirty || answer.touched || form.submitted)"
                            class="alert alert-danger">
                            Este campo es obligatorio
                        </div>

                    </div>
                    <div *ngSwitchCase="'radio'">
                        <div *ngFor="let option of question.options; let last = last">
                            <input id="{{option.id}}" type="radio" value="{{option.id}}" name="{{question.id}}"
                                [(ngModel)]="question.answer" #answer="ngModel" [required]="question.required" />
                            <label for="option.id">{{option.val}}</label>
                            <div *ngIf="last">
                                <div *ngIf="answer.invalid && (answer.dirty || answer.touched || form.submitted)"
                                    class="alert alert-danger">
                                    Este campo es obligatorio
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'locate'">
                        <select class="form-control" name="selectedIdDepartment" [required]="question.required"
                            [(ngModel)]="selectedIdDepartment" #idDepartment="ngModel">
                            <option empty-option="" value="undefined" class="" selected>Seleccionar</option>
                            <option *ngFor="let department of departments" value="{{department.id_department}}">
                                {{department.desc_department}}</option>
                        </select>
                        <br>
                        <label>{{question.statement}}</label>
                        <select class="form-control" name="{{question.id}}" [(ngModel)]="question.answer"
                            #answer="ngModel" [required]="question.required" [disabled]="selectedIdDepartment == null">
                            <option empty-option="" value="undefined" class="" selected>Seleccionar</option>
                            <option *ngFor="let municipality of filterMunicipalities()"
                                value="{{municipality.id_Municipality}}">
                                {{municipality.desc_Municipality}}</option>
                        </select>

                        <div *ngIf="answer.invalid && (answer.dirty || answer.touched || form.submitted)"
                            class="alert alert-danger">
                            Este campo es obligatorio
                        </div>

                    </div>
                    <div *ngSwitchCase="'check'">
                        <div *ngFor="let option of question.options; let last = last">
                            <input type="checkbox"
                                (change)="onChangeText(question.id ,option.id, $event.target.checked)">
                            {{option.val}}<br>
                        </div>
                        <div *ngIf="!isAtleastOneItemSelected(question.required,question.answer,form.submitted) && form.submitted"
                            class="alert alert-danger">
                            Este campo es obligatorio
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-rounded btn-flat" (click)="submit(form)">
                        <ng-template [ngIf]="idFinalSection-1 == actualSection" [ngIfElse]="isNotFinal">Guardar
                        </ng-template>
                        <ng-template #isNotFinal>
                            Continuar
                        </ng-template>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>