<ng-sidebar-container style="height: 100vh; z-index: 1000 !important; " scrollTracker>
    <div ng-sidebar-content>
        <app-header></app-header>
        <aw-wizard [awNavigationMode] navigateForward="visited" navBarLayout="large-filled-symbols">

            <aw-wizard-step *ngFor="let section of formRI.sections; let first = first;">

                <ng-template awWizardStepSymbol>
                    <i [ngClass]="{'fas fa-circle':paso==2}"></i>
                </ng-template>
                <ng-template awWizardStepTitle>
                    <span class="hidden-sm-down">{{section.title}}</span>
                </ng-template>

                <div class="container">
                    <app-section (guardarEventEmitter)="guardarRespuestas()" [questions]="section.questions"
                        [idFinalSection]="formRI.sections.length" [municipalities]="municipalities"
                        [departments]="departments"></app-section>
                    <br /><br />

                    <div class="btn-group">
                        <button class="btn btn-rounded btn-flat" awPreviousStep *ngIf="!first"><i
                                class="fas fa-angle-left fa-3x"></i></button>
                    </div>
                </div>
            </aw-wizard-step>
        </aw-wizard>
        <app-footer></app-footer>

    </div>

</ng-sidebar-container>