<ng-sidebar-container style="height: 100vh; z-index: 1000 !important; " scrollTracker>
    <div ng-sidebar-content>
        <app-header></app-header>

        <aw-wizard [awNavigationMode] navigateForward="visited" navBarLayout="large-filled-symbols">
            <aw-wizard-step (stepEnter)="avanzarStep(0)">
                <ng-template awWizardStepSymbol>
                    <i [ngClass]="{'fas fa-circle':paso==0}"></i>
                </ng-template>
                <ng-template awWizardStepTitle>
                    <span class="hidden-sm-down">LIQUIDACIÓN</span>
                </ng-template>
                <div class="container">


                   
                    <br>
                    <div class="container">

                    </div>

                    <br>

                </div>

            </aw-wizard-step>
            <aw-wizard-step stepTitle="PAGADOR" (stepEnter)="avanzarStep(1)">
                <ng-template awWizardStepSymbol>
                    <i [ngClass]="{'fas fa-circle':paso==1}"></i>
                </ng-template>
                <div class="container">
                    <div class="container">                        
                    </div>
                    <button class="btn btn-rounded btn-flat" awPreviousStep><i
                            class="fas fa-angle-left fa-3x"></i></button>Atrás
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="PARTICIPANTES" (stepEnter)="avanzarStep(2)">
                <ng-template awWizardStepSymbol>
                    <i [ngClass]="{'fas fa-circle':paso==2}"></i>
                </ng-template>
                <div class="container">                                       
                    <button class="btn btn-rounded btn-flat" awPreviousStep><i
                        class="fas fa-angle-left fa-3x"></i></button>Atrás
                </div>
            </aw-wizard-step>
        </aw-wizard>
        <app-footer></app-footer>

    </div>

</ng-sidebar-container>