<app-header></app-header>

<div class="container divformsearch">
    <form #formRI="ngForm">
        <div class="form-group ">
            <label for="documentType">Tipo Identificación *</label>

            <select id="documentType" name="documentType" class="form-control" required [(ngModel)]="InformalPerson.documentType" #documentType="ngModel" [disabled]="show">
            <option *ngFor="let tipoDoc of documentsTypeList" value="{{tipoDoc.id_document_type}}">
                {{tipoDoc.desc_document_type}}</option>

        </select>
            <div *ngIf="documentType.invalid  && ( documentType.touched) " class="error">
                Seleccione un tipo de documento
            </div>
        </div>
        <div class="form-group">
            <label for="documentNumber">Ingeser su numero de documento</label>
            <input type="text" id="documentNumber" class="form-control" name="documentNumber" [(ngModel)]="InformalPerson.documentNumber" #documentNumber="ngModel" required>
            <div *ngIf="documentNumber.invalid && (documentNumber.touched || formRI.submitted)" class="error">
                *Escriba su numero de identidad
            </div>
        </div>
        <div class="form-group">
            <label for="expedition">Ingrese la fecha de expedición de su cedula</label>

            <br>
            <input id="expedition" class="form-control" placeholder="yyyy-mm-dd" name="expedition" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="InformalPerson.expedition" #expedition="ngModel" required>

            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
            </div>
            <div *ngIf="expedition.invalid && (expedition.touched || formRI.submitted)" class="error">
                *Seleccione una fecha
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary btnRI" (click)="submit(formRI)">Buscar</button>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right">
                <re-captcha (resolved)="resolved($event)" formControlName="recaptchaReactive" siteKey="6LefEgEVAAAAAMcfMfM5wmOXcASki3ihPp4MJwsc"></re-captcha>

            </div>
        </div>
    </form>
</div>
<ngx-spinner bdColor="rgba(244,244,244,0.7)" size="large" color="#D21946" type="ball-scale-multiple" zIndex="99999">
    <p style="font-size: 20px; color:black">Un momento por favor</p>
</ngx-spinner>
<app-footer></app-footer>