<footer>
    <div class="container">
        <hr>

        <div class="row">

            <div class="container-contacto ">
                <p class="titulo-contacto">Síganos en redes</p>
                <a href="https://www.facebook.com/camaracomerbog" target="_blank" alt="Encuéntrenos en Facebook" title="Encuéntrenos en Facebook"><img src="https://recursos.ccb.org.co/ccb/recursos-aplicaciones/images/ico_facebook.jpg" alt="Encuéntrenos en Facebook" title="Encuéntrenos en Facebook" width="40" height="34" border="0"></a>
                <a href="http://twitter.com/camaracomerbog" target="_blank" alt="Síganos en Twitter" title="Síganos en Twitter" style="margin-left: 8px;"><img src="https://recursos.ccb.org.co/ccb/recursos-aplicaciones/images/ico_twitter.jpg" alt="Síganos en Twitter" title="Síganos en Twitter" width="40" height="34" border="0"></a>
                <a href="http://www.youtube.com/camaracomerciobog" target="_blank" title="Suscríbase a nuestro canal" alt="Suscríbase a nuestro canal" style="margin-left: 8px;"><img src="https://recursos.ccb.org.co/ccb/recursos-aplicaciones/images/ico_youtube.jpg" alt="Suscríbase a nuestro canal" width="40" title="Suscríbase a nuestro canal" height="34" border="0"></a>
                <a href="http://co.linkedin.com/in/camaradecomerciodebogota" target="_blank" alt="Encontrémonos en Linkedin" title="Encontrémonos en Linkedin" style="margin-left: 8px;"><img src="https://recursos.ccb.org.co/ccb/recursos-aplicaciones/images/ico_linkedin.jpg" alt="Encontrémonos en Linkedin" title="Encontrémonos en Linkedin" width="40" height="34" border="0"></a>
                <a href="https://www.flickr.com/photos/camaracomerbog/" target="_blank" alt="Véanos en Flickr" title="Véanos en Flickr" style="margin-left: 8px;"><img src="https://recursos.ccb.org.co/ccb/recursos-aplicaciones/images/ico_flickr.jpg" alt="Véanos en Flickr" title="Véanos en Flickr" width="40" height="34" border="0"></a>
            </div>
            <div class="container-contacto-linea">
                <div class="container-contacto-atencion">
                    <p class="titulo-contacto">Atención al cliente</p>
                    <p class="texto-contacto">
                        <a href="http://www.ccb.org.co/La-Camara-CCB/Nuestras-sedes" title="Sedes y horarios" target="_blank">Sedes y horarios</a> <a href="http://chat.millenium.com.co:8080/webchatccb/online.jsp" target="_blank" title="Chat"> Chat</a>                        <a href="http://www.ccb.org.co/Escribanos" target="_blank" title="Escríbanos"> Escríbanos</a> <a href="http://www.ccb.org.co/Preguntas-frecuentes" target="_blank" title="Preguntas frecuentes"> Preguntas frecuentes</a>
                        <font class="texto-llamada"> Llámenos: <a href="tel:0313830330" title="Llamada" alt="Llamada">(571) 383 0330</a> | <a href="tel:#383" alt="Llamada teléfono móvil" title="Llamada teléfono móvil">#383</a> | <a href="http://190.144.149.101:8080/click/ccbclick.html"
                                target="_blank" title="Llamada virtual" alt="Llamada virtual">Virtual</a></font>
                    </p>
                </div>
            </div>
        </div>
        <div class="espacio15"> </div>
        <div class="row">
            <div class="container-creditos col-sm-12">
                <div class="container-creditos-texto">
                    <a href="http://www.ccb.org.co/Proteccion-de-datos-personales" target="_blank" title="Protección de datos personales" alt="Protección de datos personales"> Protección de datos personales</a><a href="http://www.ccb.org.co/Terminos-y-condiciones"
                        title="Términos y condiciones" alt="Términos y condiciones" target="_blank">Términos y condiciones</a><a href="http://www.ccb.org.co/Reglas-en-redes-sociales" target="_blank" title="Reglas en redes sociales" alt="Reglas en redes sociales">Reglas en redes sociales</a>
                    <a href="http://www.ccb.org.co/La-Camara-CCB/Nosotros/Ley-de-Transparencia" target="_blank" title="Ley de transparencia" alt="Ley de transparencia">Ley de transparencia</a>
                    <font class="copy"> Cámara de Comercio de Bogotá - Todos los derechos reservados</font>
                </div>
            </div>

        </div>

    </div>
</footer>