@charset "utf-8";
.footerCCB {
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-right: 25%;
    margin-left: 25%;
    border-width: 1px;
    border-radius: 25px;
    text-align: center;
    border-style: solid;
    font-size: 20pt;
}

img {
    padding: 5pt;
    width: 30%;
}