@charset "utf-8";
.footerCCB {
    margin-top: 30pt;
    margin-bottom: 40pt;
    margin-right: 40%;
    margin-left: 40%;
    border-width: 1px;
    text-align: center;
    font-size: 10pt;
}

img {
    padding: 5pt;
    width: 30%;
}

@media (max-width: 500px) {
    img {
        width: 90%;
    }
}